<html>

		<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
	<link href="/css/editprofile.css" rel="stylesheet">

</head>

<body>
<% include ./Layout/Header.ejs %>

	<div class="container my-4 ">
		<div class="row align-items-start">
			<div class="col-lg-11 bg-shadow rounded bg-white ">
				<div class="row">
					<div class="col-lg-4  border border-light py-4  mr-2  ">
                        	<a href="/user/editprofile" class="nav-link my-3 font-weight-bold text-center rounded text-muted border shadow px-2">
                                Edit Profile
                            </a>
						<a href="/user/changePassword" class="shadow nav-link my-3 font-weight-bold text-center rounded text-white greenbtn px-2">
	  				Change Password
	  			</a>
					
						<a href="/user/addportfolio" class="nav-link my-3 font-weight-bold text-center rounded text-muted shadow border px-1">
	  				Add portfolio
	  			</a>
						<a href="/userid/<%= currentUser._id %>" class="nav-link my-3 font-weight-bold text-center rounded text-muted border shadow px-1">
	  				Profile
	  			</a>

					</div>
					<div class="col-lg-7">

						<div class="bg-white mx-auto py-4">
							<h5 class="card-heading mx-3 mb-4">Change Password</h5>
							<% if(error.length>0) { %>
                                <div style="font-size: 13px;" class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <%= error %> 
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
												
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
							  <%} %>
							  <% if(success.length>0) { %>
                                <div style="font-size: 13px;" class="alert alert-success alert-dismissible fade show" role="alert">
                                        <%= success %> 
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
												
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                              <%} %>

						
			
							<form method="post"  action="/user/changepassword" > 
								
								  <div class="form-row my-3 mx-2">
                                    
                                    <div class="my-1 col-12">
                                    <label >New Password</label>
                                     <input class="form-control my-2 " type="password" value="" name="PASS1" placeholder="New password here">
                                     <input class="form-control my-2" type="password" value="" name="PASS2" placeholder="New password here">
                                    </div>
                    
                                     <input type="submit" value="update" class="btn border-0 py-2 shadow px-5 my-3 mx-auto btn-primary">                                     
                                </div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>






	




</body>

</html>