<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/Footer.css" rel="stylesheet" >
    <title>Document</title>
</head>
<body>
        <footer style=" background-color:#2f3542;" class="mt-5" >
                <div class="container">
                    <div class="row pt-2">
                        <div class="col-md-3 text-lg-left text-center col-sm-10 ">
                            <h4 class="green-color">Hire&Work</h3>
                        </div>
                        <div class="col-lg-6  col-sm-10 text-center pt-lg-2 pt-3 pb-lg-0 pb-2 mx-auto">
                            <a class="px-md-3 px-1 ftextcolor" href="">
                                Home
                            </a>
                            <a class="px-md-3 px-1 ftextcolor" href="">
                                Shots
                            </a>
                            <a class="px-md-3 px-1 ftextcolor" href="">
                                Browse jobs
                            </a>
                            <a class="px-md-3 px-1 ftextcolor" href="">
                                Contact Us
                            </a>
                            <a class="px-md-3 px-1 ftextcolor" href="">
                                About Us
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-6  text-center text-lg-right pt-2 my-md-0 mx-auto mr-md-0">
                            <a style="color:#3b5999; list-style:none;" class=" px-2" href="">
                                <i class="fab fa-facebook-f"></i>
        
                            </a>
                            <a style="color:#55acee;list-style:none;" class=" px-2" href="">
                                <i class="fab fa-twitter"></i>
        
                            </a>
                            <a style="color:#dd4b39;list-style:none;" class=" px-2" href="">
        
                                <i class="fab fa-google-plus-g"></i>
        
                            </a>
                            <a style="color:#e4405f;list-style:none;" class=" px-2" href="">
        
                                <i class="fab fa-instagram"></i>
        
        
                            </a>
        
        
                        </div>
                    </div>
        
                </div>
                <hr />
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center col-sm-10 mx-auto">
                            <p style="font-size:12px" class="ftextcolor">Copyright@Mustafeez Ur Rehman</p>
                        </div>
                    </div>
                </div>
            </footer>
</body>
</html>